@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* 
    TAG SELECTORS
*/

body {
  font-family: Poppins;
}

/*
    CLASS SELECTORS
*/

.AboutContainer {
  text-align: center;
  padding: 40px 0;
}

.Header {
  background: #c7e3ff;
  padding: 0 10px;
  color: #0078e8;
}

.HeaderStyle {
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.Role {
  color: #c4c4c4;
}

.ProfileName {
  padding-top: 20px;
}

/* .TeamContainer {

} */

.TeamTitle {
  text-align: center;
  padding: 50px;
}
