.NavBarItems {
  height: 80px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.2 rem;
}

.banner {
  padding-left: 20px;
  margin-top: 14px;
  height: auto;
}

.navbar-logo {
  width: 24px;
  height: 24px;
  height: auto;
  transition: transform 0.55s;
}

.navbar-logo:hover {
  transform: rotate(360deg);
}

.navbar-title {
  width: 100px;
  height: auto;
  padding-top: 2px;
}

.navlink {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  font-style: normal;
  padding: 0.5rem 1rem;
}

.navlink:hover {
  background-color: #e4f1ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  margin-right: 1rem;
}

.mobile-nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 80vw;
  padding-top: 7%;
  justify-content: end;
  margin-right: 1rem;
}

.nav-links {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #e4f1ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
