body {
    /* padding-bottom: 25px; */
    font-family: Poppins;
}
.ProjectCard{
    transition: transform .3s ease-out;
}
.ProjectCard:hover {
    transform: translate(-5px, -10px);
    /* box-shadow: 5px 10px #888888;  */
}

.Col{
    padding: 3rem;
}

/* .text-responsive {
    font-size: calc(80% + 1vw + 1vh);
  } */