@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*body {*/
/*  font-family: "Poppins";*/
/*}*/
h2 {
  font-size: 36px;
}
#logo {
  width: 150px;
  padding-left: 20px;
  padding-top: 15px;
}
#main-photo {
  width: 20vw;
}
#main-image {
  float: left;
  padding-right: 5vw;
  vertical-align: middle;
}
#main-text {
  width: 70vw;
}
#landing-container {
  padding: 15vw;
  /* height: 50vh; */
}
#text1 {
  font-size: 48px;
  font-weight: 400;
}
#text2 {
  font-size: 24px;
  font-weight: 300;
}
#nav-bar {
  padding-top: 2.5vh;
  padding-left: 6.5vh;
  padding-right: 10vh;
}
.nav-menu {
  padding: 20px 20px;
}

.nav-menu a:hover,
a:visited,
a:link,
a:active {
  color: black;
}

#nav-links {
  float: right;
}

#title-banner {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  background-color: #0078e8;
  height: 100%;
  color: white;
  width: 100vw;
  height: 400px;
}

#projects-banner {
  margin-top: -12vw;
  padding-top: 25vh;
  height: 100%;
  height: 700px;
  background: rgba(241, 241, 241, 0.5);
}

#projects-future {
  height: 100%;
  height: 600px;
  padding-left: 400px;
}

#sub-title {
  color: black;
  font-size: 30px;
  font-weight: 350;
  padding-top: 10vh;
  padding-left: 10vh;
}

#projects-list {
  color: black;
  font-size: 20px;
  padding-left: 10vh;
  padding-right: 10vh;
}

#project-title {
  font-size: 20px;
  font-weight: 500;
}

#project-description {
  font-size: 20px;
  padding-right: 75vh;
}

span {
  border: 1px solid transparent;
}
.inRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, auto);
  grid-gap: 10px; /*This add space between elements, only works on grid items*/
}
.inColumn {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 15px;
}

#page-title {
  color: white;
  font-size: 48px;
  font-weight: 350;
  padding-top: 10vh;
  padding-left: 10vh;
}

#page-subtext {
  width: 50vw;
  color: white;
  font-size: 20px;
  font-weight: 300;
  padding-top: 1vh;
  padding-left: 10vh;
}
.apply-button:hover {
  background-color: #006bd0;
}

#about-container {
  background-color: #3e9cf3;
  height: 100%;
  color: white;
  width: 100%;
  height: 465px;
  padding-top: 15vh;
  text-align: center;
}

#waves {
  position: relative;
  margin-bottom: -5px; /*fixes thin gap between waves and aboutus divs*/
}

#top-wave {
  position: absolute;
  bottom: 0px; /*adjusts for a small gap under bottom-wave*/
  left: 0;
  width: 100%;
  height: auto;
}

#bottom-wave {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#about-text {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.sub-heading {
  font-size: 36px;
}
#values-section {
  /*padding-top: 15vh;*/
  margin: 0 auto;
}

#values-horizontal {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}
.value-text {
  width: 250px;
  display: inline-block;
}
.value-container img {
  height: 150px;
}
.value-container {
  padding-bottom: 120px;
  text-align: center;
}
.value-container p {
  font-size: 18px;
}
.sub-text {
  font-weight: 600;
}
#contact-section {
  /* clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%); */
  background-color: #1586ee;
  color: white;
}
#contact-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#contact-text {
  width: 50vw;
  margin: 0 auto;
  font-size: 18px;
}
.text-center {
  margin: 0 auto;
}
button {
  color: white;
  background-color: #0078e8;
  padding: 15px 30px;
  font-size: medium;
  border: none;
  border-radius: 2px;
}
.contact-button {
  color: black;
  background-color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.value-icons {
  padding-top: 20px;
}
.horizontal {
  display: inline-block;
}
@media screen and (max-width: 800px) {
  #values-horizontal { display: flex; flex-flow: column; }
}